<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="il.ac.shenkar.todolist" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="il.ac.shenkar.todolist.startUp.ToDoListApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />
        <activity
            android:name="il.ac.shenkar.todolist.controllers.taskList.TaskListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="il.ac.shenkar.todolist.controllers.createTask.CreateTaskActivity"
            android:label="@string/title_activity_create_task" >
        </activity>
        <activity
            android:name="il.ac.shenkar.todolist.controllers.location.LocationActivity"
            android:label="@string/title_activity_location" />

        <receiver android:name="il.ac.shenkar.todolist.MyBroadcastReceiver" >
            <intent-filter>
                <action android:name="com.shenkar.todolist" />
            </intent-filter>
        </receiver>


        <receiver android:name="il.ac.shenkar.todolist.widget.TaskDisplyer" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/task_displyer_info" />
        </receiver>

        <service android:name=".widget.TaskListService"
                 android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>
